<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>강좌 상세 페이지</title>
	    <style>
	    </style>
	    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	    <script>
		    
		    $(function() {
			   
				$('#submitForm').on('submit', function() {
					
					if (!confirm('수강신청을 하시겠습니까?')) {
						return false;
					}
					
					var $thisForm = $(this);
					
					var url = '/api/course/req.api';
					var parameter = {
						courseId: $thisForm.find('input[name=id]').val()
					};
				
					axios.post(url, parameter).then(function (response) {
						console.log(response);
						
						response.data = response.data || {};
						response.data.header = response.data.header || {};
						
						if (!response.data.header.result) {
							alert(response.data.header.message);
							return false;
						}
						
						alert('강좌가 정상적으로 신청되었습니다.');
						location.href = '/';
						
					}).catch(function(err) {
						console.log(err);
					});
					
					return false;
				});
				
		    });
		    
	    </script>
    </head>
    <body>
        <h1> 강좌 상세 정보 </h1>
        <div th:replace="/fragment/layout.html :: fragment-body-menu"></div>
    
        <div>
	        <h2>
		       강좌명 : <span th:text="${detail.subject}"></span>
	        </h2>
	        <div th:utext="${detail.contents}"></div>
	        <div>
		        <p>가격 : <span th:text="${detail.price}"></span></p>
		        <p>할인가격 : <span th:text="${detail.salePrice}"></span></p>
	        </div>
	        
	        <div>
		        <img th:src="${detail.urlFilename}"/>
	        </div>
	        
	        <div>
		        <form id="submitForm" method="post">
			        <input type="hidden" name="id" th:value="${detail.id}"/>
			        <button type="submit">수강신청</button>
			        <a href="/course">목록으로</a>
		        </form>
	        </div>
        </div>
    
    </body>
</html>